<% @title = 'Pro' %>

<%= render partial: 'sidebar' %>

<div id="left_column_flip" class="left_column_flip">
  <h1 id="pro">
    <%= @title %>
  </h1>

  <ul>
    <li><%= link_to 'Private requests', '#private-requests' %></li>
    <li><%= link_to 'Batch', '#batch' %></li>
  </ul>

  <h2 id="private-requests">
    Private requests
   <a href="#private-requests">#</a>
  </h2>

  <p>
    Les utilisateur.rice.s de Madada ++ peuvent définir une période de confidentialité sur leurs requêtes avant de les rendre publique pendant le temps de leurs investigations.
  </p>

  <p>
    Lorsqu'une requête est privée nous garantissons qu'elle ne sera visible sur 
    <%= AlaveteliConfiguration.site_name %> qu'à l'issue de la période de confidentialité définie.
    Les administrateurs de <%= AlaveteliConfiguration.pro_site_name %> verront vos requêtes, mais seulement dans le cas où leur intervention serait nécessaire pour résoudre un problème
     (par exemple dans le cas où une demande n'aurait pas été délivrée auprès de l'autorité destinataire). Ils ne révèleront en aucun cas le contenu de votre requête ni le contenu des échanges éventuels avec les destinataires de vos requêtes.
    L'autorité saisie peut toutefois la rendre publique de sa propre initiative.
  </p>

  <h3 id="how-long-can-i-keep-requests-private">
    Combien de temps puis-je conserver ma requête privée?
   <a href="#how-long-can-i-keep-requests-private">#</a>
  </h3>

  <p>
    Les périodes de retention de publicité peuvent être définies pour des périodes de 3, 6 ou 12 mois.
  </p>

  <p>
    <%= image_tag 'alaveteli-pro/screenshot-embargo.jpg',
                  alt: 'Ajouter une période de rétention de publicité' %>
  </p>

  <p>
    Vous serez automatiquement notifiés une semaine avant l'expiration de la période de rétention de publicité,
    et le jour de son expiration.
  </p>

  <p>
    Lorsque la période de secret se terminera, votre requête ainsi que la correspondance associée,
    incluant <strong>votre nom</strong>, seront <strong>
    <%= link_to 'rendus publics',
      help_privacy_path(anchor: 'public_request') %></strong> sur ce site.
  </p>

  <h3 id="i-need-more-time-can-i-extend-a-privacy-period">
    J'ai besoin de plus de temps. Puis-je étendre la période de confidentialité?
   <a href="#i-need-more-time-can-i-extend-a-privacy-period">#</a>
  </h3>

  <p>
    Les périodes de confidentialité peuvent être étendues, mais seulement dans la semaine précédant la date d'expiration.
  </p>

  <p>
    <%= image_tag 'alaveteli-pro/screenshot-embargo-extension.jpg',
                  alt: 'Etendre la période de confidentialité' %>
  </p>

  <p>
    Il n'existe pas de limites dans le nombre de fois où la période de confidentialité peut être étendue,
    mais chaque extension requière une action manuelle de votre part.
  </p>

  <h3 id="how-do-i-publish-a-request">
    Comment je publie une requête?
   <a href="#how-do-i-publish-a-request">#</a>
  </h3>

  <p>
    Les requêtes peuvent être rendues publiques à n'importe quel moment.
  </p>

  <p>
    <%= image_tag 'alaveteli-pro/screenshot-embargo-publish.jpg',
                  alt: 'Publier une requête' %>
  </p>

  <h3 id="can-i-make-private-batch-requests">
    Puis-je faire des requêtes en masse confidentielles ?
   <a href="#can-i-make-private-batch-requests">#</a>
  </h3>

  <p>
    Des périodes de confidentialité peuvent aussi être définies pour les requêtes envoyées à plusieurs autorités publiques, et les modalités sont similaires à celles s'appliquant aux requêtes individuelles. Cependant, les changements effectués sur la visibilité d'une demande appartenant à une demande groupée s'appliquent à l'ensemble des demandes associées.
  </p>

  <h2 id="batch">
    Demandes groupées
   <a href="#batch">#</a>
  </h2>

  <p>
    Les demandes groupées simplifient l'envoi d'une même requête à plusieurs autorités publiques.
  </p>

  <h3 id="how-do-i-make-a-batch-request">
    Comment faire une demande groupée?
   <a href="#how-do-i-make-a-batch-request">#</a>
  </h3>

  <p>
    Cette fonctionnalité vous permet de selectionner une liste d'autorités à laquelle vous souhaitez adresser une même demande de communication. La requête est envoyée à chaque autorité commme lors de l'envoi d'un email en copie cachée à plusieurs destinataires.
  </p>

  <p>
    <%= image_tag 'alaveteli-pro/screenshot-batch-selection.jpg',
                  alt: 'Selectionner des autorités pour une demande groupée' %>
  </p>

  <p>
    <%= image_tag 'alaveteli-pro/screenshot-batch-write.jpg',
                  alt: 'Ecrire un modèle de demande groupée' %>
  </p>

  <h3 id="how-do-i-manage-a-batch-request">
    Comment gérer les demandes groupées?
   <a href="#how-do-i-manage-a-batch-request">#</a>
  </h3>

  <p>
    L'avancement d'une demande groupée peut être géré à l'aide d'un tableau de bord de suivi vous permettant de visualiser le degré d'avancement de chaque demande individuelle ce qui vous permet facilement les actions requises pour faire avancer vos demandes.
  </p>

  <p>
    <%= image_tag 'alaveteli-pro/screenshot-batch-list.jpg',
                  alt: 'gérer les demandes groupées' %>
  </p>

  <h3 id="how-do-i-manage-batch-privacy-periods">
    Comment gérer les périodes de confidentialité des demandes groupées ?
   <a href="#how-do-i-manage-batch-privacy-periods">#</a>
  </h3>

  <p>
    Les demandes groupées peuvent être rendues confidentielles, et les périodes de confidentialités peuvent être gérées à l'intérieur du groupe de demandes.
  </p>

  <p>
    <%= image_tag 'alaveteli-pro/screenshot-batch-privacy.jpg',
                  alt: 'Gérer la confidentialité d&apos;une demande groupée' %>
  </p>

  <h3 id="how-many-authorities-can-i-add-to-a-batch">
    Combien d'autorités ouis-je ajouter à une demande groupée?
   <a href="#how-many-authorities-can-i-add-to-a-batch">#</a>
  </h3>

  <p>
    Le nombre maximal d'autorités publiques qui peuvent être associées à une demande groupée est de <%= AlaveteliConfiguration.pro_batch_authority_limit %>.
  </p>

  <h3 id="how-many-batch-requests-can-i-make">
    Combien de demandes groupées puis-je effectuer ?
   <a href="#how-many-batch-requests-can-i-make">#</a>
  </h3>

  <p>
    Nous recommandons d'envoyer une première demande à un échantillon d'autorités publiques afin de tester ses modalités de réception. Une fois que vous avez pu confirmer que le type d'autorité saisie détenait bien les données ou documents recherchés vous pouvez élargir le périmètre des autorités saisies.
  </p>

  <p>
    Il n'y a pas de limites au nombre de demandes groupées que vous pouvez effectuer, mais il est attendu que les utilisateur.rice.s de MaDada++ suivent les recommandations formulées en vue de favoriser la rédaction de
    <%= link_to 'requêtes responsables',
      help_requesting_path(anchor: 'responsible') %>.
  </p>
</div>
